    <main class="main-content">
        <div *ngIf="!deleted" class="profile-container">
            <div class="profile-image-container">
                <img src="assets/profil.png" alt="Bild" class="profile-image">
            </div>
            <div class="profile-details">
                <h2>Mein Profil</h2>
                <div class="detail-item"><strong>Vorname:</strong> {{user.firstName}}</div>
                <div class="detail-item"><strong>Nachname:</strong> {{user.lastName}}</div>
                <div class="detail-item"><strong>Straße und Hausnummer:</strong> {{user.street}}</div>
                <div class="detail-item"><strong>Postleitzahl:</strong> {{user.zip}}</div>
                <div class="detail-item"><strong>Ort:</strong> {{user.city}}</div>
                <div class="detail-item"><strong>Email-Adresse:</strong> {{user.email}}</div>
                <div class="detail-item"><strong>Telefonnummer:</strong> {{user.phoneNumber}}</div>
                <div class="profile-actions">
                    <button class="btn delete-button" title="Profil löschen" (click)="btnDeleteClicked(user)">Profil löschen</button>
                    <button class="btn edit-button" title="Profil bearbeiten" [routerLink]="['/user/bearbeiten']">Profil bearbeiten</button>
                </div>
            </div>
        </div>
        <div *ngIf="deleted">
            Der Nutzer wurde gelöscht.
        </div>
    </main>
