<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buchinformationen</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="header">Max Mustermann`s Buch</div>
        <div class="row">
            <div class="column">
                <!--<img src="bild.jpg" alt="Buchbild">-->
            </div>
            <div class="column">
                <div>
                    <label for="title">Titel:</label>
                    <span id="title">Harry Potter und der Gefangene von Askaban</span>
                </div>
                <div>
                    <label for="author">Autor:</label>
                    <span id="author">Max Mustermann</span>
                </div>
                <div>
                    <label for="category">Kategorie:</label>
                    <span id="category">Fantasy</span>
                </div>
                <div>
                    <label for="isbn">ISBN:</label>
                    <span id="isbn">978-3-16-148410-0</span>
                </div>
                <div>
                    <label for="year">Erscheinungsjahr:</label>
                    <span id="year">2002</span>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="lend">
            <form [formGroup]="lendForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="status">Status:</label>
                    <span id="status" class="form-control">Ausleihbar</span> <!-- Status aus Datenbank -->
                </div>
                <div class="form-group">
                    <label for="lendFrom">Ausgeliehen am:</label>
                    <input type="date" id="lendFrom" formControlName="lendFrom" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lendTo">Rückgabe am:</label>
                    <input type="date" id="lendTo" formControlName="lendTo" class="form-control">
                </div>
                <div class="form-group">
                    <label for="note">Notizen:</label>
                    <input type="text" id="note" formControlName="note" class="form-control" placeholder="Notiz">
                </div>
            </form> 
        </div>
      <div class="form-actions">
                    <button class="borrow-btn" type="submit">Ausleihen</button>
                    <button class="cancel-btn" type="button" onclick="cancel()">Abbrechen</button>
      </div>
    </div>
    <script>
        function closeContainer() {
            document.querySelector('.container').style.display = 'none';
        }

        function cancel() {
            // cancel-funkion muss hier eingefügt werden.
            alert("Abbrechen wurde geklickt");
        }
    </script>
</body>
</html>
