<div class="container">
    <div class="header">
        <div class="titel">Ausleihanfrage</div>
    </div>

    <form [formGroup]="lendForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="column">
                <div>
                    <label for="title">Titel:</label>
                    <span id="title">{{book.title}}</span>
                </div>
                <div>
                    <label for="author" *ngIf="book.author">Autor:</label>
                    <span id="author">{{book.author}}</span>
                </div>
                <div>
                    <label for="category">Kategorie:</label>
                    <span id="category">{{getCategory(book.category)}}</span>
                </div>
                <div>
                    <label for="isbn" *ngIf="book.isbn">ISBN:</label>
                    <span id="isbn">{{book.isbn}}</span>
                </div>
                <div>
                    <label for="year" *ngIf="book.publishingYear">Erscheinungsdatum:</label>
                    <span id="year">{{book.publishingYear | date: 'yyyy'}}</span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <label for="borrowed-on">Ausleihanfrage ab dem:</label>
            <input type="date" formControlName="lendFrom">
        </div>

        <div class="input-group mb-3">
            <label for="return-date">Rückgabe am:</label>
            <input type="date" formControlName="lendTo">
        </div>
        
        <div class="input-group mb-3">
            <label for="notes">Notizen:</label>
            <input type="text" class="form-control" placeholder="Bemerkungen" formControlName="note">
        </div>

        <div>
            <span *ngIf="lendForm.invalid">Bitte geben Sie das Ausleihdatum und das Rückgabedatum ein, um fortzufahren</span>
        </div>

        <div class="form-actions">
            <button class="btn cancel-btn" type="button" (click)="cancel()">Abbrechen</button>
            <button class="btn borrow-btn" type="submit" [disabled]="lendForm.invalid">Ausleihen</button>
        </div>
    </form>
</div>