<div class="alert alert-warning" role="alert">
    Dies ist ein Projekt für unser Studium und keine reale Website!
  </div>
  
<h1>Impressum</h1>
<section>
<h2>Kontaktinformationen</h2>
<p>Muster<br>
Musterstraße 1<br>
12345 Musterort<br>
Deutschland</p>
<p>Tel.: 012345678901<br>
E-Mail: mail@test.de</p>
</section>

<section>
<h2>Rechtliche Hinweise</h2>
<p>Plattform der EU-Kommission zur Online-Streitbeilegung: <a href="https://ec.europa.eu/odr">https://ec.europa.eu/odr</a></p>
<p>Ich bin zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle weder verpflichtet noch bereit.</p>
</section>