<div class="alert alert-warning" role="alert">
    Dies ist ein Projekt für unser Studium und keine reale Website!
  </div>
  

<h1>Informationen zur Datenerhebung gemäß Artikel 13 DSGVO</h1>

<section>
<h2>1. Verantwortlicher und Datenschutzbeauftragter</h2>
<p>
Verantwortlicher für die Datenerhebung und Datenverarbeitung ist:<br>
INSTASHARE, Musterstr. 12, 12345 Musterstadt
</p>
<p>
Der betriebliche Datenschutzbeauftragte ist:<br>
4 Studenten
</p>
</section>

<section>
<h2>2. Erhebung und Speicherung personenbezogener Daten sowie Art und Zweck und deren Verwendung</h2>
<p>
Wir erheben folgende Daten:<br>
Vorname, E-Mail-Adresse, Anschrift, Telefonnummer (Festnetz und/oder Mobilfunk)
</p>
<p>
Wir erheben Ihre Daten zum Zweck:<br>
der Bücherverwaltung<br>
der Erfüllung unserer vertraglichen und vorvertraglichen Pflichten
</p>
<p>
Die Datenerhebung und Datenverarbeitung ist für die Durchführung des Vertrags erforderlich und beruht auf Artikel 6 Abs. 1 b) DSGVO.
</p>
<p>
Soweit wir für Verarbeitungsvorgänge personenbezogener Daten Ihre Einwilligung eingeholt haben, dient Art. 6 Absatz. 1 lit. a EU-Datenschutz-Grundverordnung (DS-GVO) als Rechtsgrundlage.
</p>
</section>

<section>
<h2>3. Weitergabe von Daten an Dritte</h2>
<p>
Eine Übermittlung Ihrer persönlichen Daten an Dritte zu anderen als den im Folgenden aufgeführten Zwecken findet nicht statt. Soweit dies nach Art. 6 Abs. 1 S. 1 lit. b DSGVO für die Abwicklung des Vertragsverhältnisses mit Ihnen erforderlich ist, werden Ihre personenbezogenen Daten an Dritte weitergegeben. Empfänger der Daten sind öffentliche Stellen, die Daten aufgrund gesetzlicher Vorschriften erhalten (z. B. Sozialversicherungsträger, Finanzbehörden), interne Stellen, die an der Ausführung der jeweiligen Geschäftsprozesse beteiligt sind (Personalverwaltung, Buchhaltung, Bankinstitute/Zahlungsdienstleister, Rechnungswesen, Kundenservice, Marketing, Vertrieb), bei Versandprodukten an das von uns beauftragte Transportunternehmen/Versandunternehmen, Vertragspartner, Geschäftspartner soweit es die gesetzlichen Bestimmungen fordern bzw. zulassen.
</p>
</section>

<section>
<p>
Auskunfts-, Berichtigungs- und Löschungsbegehren sowie der Widerruf bzw. der Widerspruch bezüglich der weitergehenden Nutzung der Daten eventuell an uns erteilter Einwilligungen können wie folgt formlos erklärt werden:<br>
per Post: Musterstraße 12, D – 12345 Musterstadt<br>
per Telefon: 123456789<br>
per E-Mail: <a href="mailto:service@xyz.de">service@xyz.de</a>
</p>
</section>