<h2>Buch bearbeiten</h2>
<div class="container">
   
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="isbn" placeholder="ISBN">
      <input type="text" formControlName="title" placeholder="Titel">
      <input type="text" formControlName="author" placeholder="Autor">
      <input type="text" formControlName="publisher" placeholder="Verlag">
      <input type="text" formControlName="publishingYear" placeholder="TT.MM.JJJJ">
      <button type="submit" class="save-button">Aktualisieren</button>
      <button type="button" class="cancel-button" (click)="cancel()">Abbrechen</button>
    </form>
  </div>
  
  