<h2>Deine Bücher</h2>
<button type="button" class="btn btn-primary" [routerLink]='["/buecher/erstellen"]'>Neu</button>

<div class="container">
  <ng-template #loader>
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </ng-template>
</div>

<ng-container *ngIf="books; else loader">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ISBN</th>
        <th scope="col">Titel</th>
        <th scope="col">Autor</th>
        <th scope="col">Verlag</th>
        <th scope="col">Erscheinungsjahr</th>
        <th scope="col">Ausgeliehen?</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of books">
        <td>{{element.id}}</td>
        <td>{{element.isbn}}</td>
        <td>{{element.title}}</td>
        <td>{{element.author}}</td>
        <td>{{element.publisher}}</td>
        <td>{{element.publishingYear | date: "yyyy"}}</td>
        <td>{{element.lendOut | BooleanPipe}}</td>
        <td><button class="btn btn-primary" [routerLink]="[element.id + '/bearbeiten']">Bearbeiten</button></td>
        <td><button type="button" class="btn btn-warning" (click)="btnDeleteClicked(element)">Löschen</button></td>
      </tr>
    </tbody>
  </table>
</ng-container>