<h2>Freunde</h2>
<button type="button" class="btn add-button" [routerLink]='["/freunde/finden"]'>Neuen Freund finden</button>

<div class="content-container">
  <div class="image-container">
    <img src="assets/freunde.png" alt="Bild von Freunden" class="welcome-image">
  </div>

  <div class="right-content">
    <div class="section-2">
      <div class="section-title">Meine Freunde</div>
      <div class="ownFriendsSearch-container">
        <input type="text" class="form-control search-field" placeholder="Zum Suchen tippen..." [(ngModel)]="searchText">
      </div>
      <div class="section-2-sub">
        <button class="friend-card-1" *ngFor="let element of friendsAccepted | search: searchText" [routerLink]="['/buecherMeinesFreundes/' + element.friend.id]">
          <div>{{element.friend.firstName}} {{element.friend.lastName}}</div>
        </button>
      </div>
    </div>
    <div class="request-container">
      <div class="friends-requests">Freundschaftsanfragen</div>
      <div class="section-2-sub">
        <div class="friend-card-2" *ngFor="let element of friendsAskedForMe">
          <div>{{element.friend.firstName}} {{element.friend.lastName}}</div>
          <button type="button" class="btn btn-outline-light" (click)="btnAcceptedClicked(element)">Annehmen</button>
          <button type="button" class="btn btn-outline-light" (click)="btnDeleteClicked(element)">Ablehnen</button>
        </div>
        <div class="friend-card-2" *ngFor="let element of friendsAsked">
          <div>{{element.friend.firstName}} {{element.friend.lastName}}</div>
          <button type="button" class="btn btn-outline-light" (click)="btnDeleteClicked(element)">Zurückziehen</button>
        </div>
      </div>
    </div>
  </div>
</div>