<h2>Deine Freunde</h2>
<button type="button" class="btn btn-primary" [routerLink]='["/freunde/finden"]'>Neu</button>

<div class="container">
  <ng-template #loader>
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </ng-template>
</div>

<ng-container *ngIf="friends; else loader">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Friend</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of friends">
        <td>{{element.id}}</td>
        <td>{{element.friend.firstName}} {{element.friend.lastName}}</td>
        <td><button type="button" class="btn btn-warning" (click)="btnDeleteClicked(element)">Löschen</button></td>
      </tr>
    </tbody>
  </table>
</ng-container>