/* General Styles */
html, body {
    font-family: Arial, sans-serif;
    background-color: #f2c6db !important; /* Rosa Hintergrundfarbe */
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    width: 95%;
    max-width: 1400px; /* Maximale Breite */
    min-width: 500px;  /* Minimale Breite */
    display: flex;
    padding: 20px;
    align-items: flex-start; /* Beide Elemente oben ausrichten */
    gap: 20px; /* Abstand zwischen Bild und Bildcontainer */
}


.edit-profile-container {
  max-width: 1400px; /* Erhöht die maximale Breite für mehr Platz */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row; /* Beibehalten der horizontalen Anordnung */
    align-items: flex-start; /* Elemente oben ausrichten */
    
}

.profile-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10px;
    
}

.profile-image {
    max-width: 100%; 
    height: auto;
    border-top-left-radius:  25px; /* Abgerundete Ecken */
    border-bottom-left-radius: 25px;
    
}

.profile-details {
    flex: 1; 
    background-color: #d68cb4;
    padding: 20px;
    box-shadow: 0 10px 80px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 25px; 
    border-bottom-right-radius: 25px; 
    border-bottom-left-radius: 25px;
}

.profile-details h2 {
    text-align: center;
    margin-bottom: 20px;
  color: white;
}

.edit-profile-form .form-group {
    margin-bottom: 15px;
}

.edit-profile-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
    
}

.edit-profile-form .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #d68cb4;
    font-size: 16px;
    box-sizing: border-box;
}

.edit-profile-form .form-control:focus {
    outline:none;
    border-color: #9b0056;
}

.edit-profile-form .password-group {
    margin-top: 50px; /* Verdoppelt den Abstand vor dem Passwortbereich */
}

.profile-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  justify-content: space-between; 
}

.profile-actions .btn {
    background-color: #d68cb4;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.profile-actions .save-button {
    background-color: green;
}

.profile-actions .cancel-button {
    background-color: red; 
}

.profile-actions .btn:hover {
    opacity: 0.8;
}