<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaShare</title>
    <link rel="stylesheet" href="app.component.scss">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="">
            <img src="assets/Logo_instashare.png" alt="Logo" class="navbar-logo">
        </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="buecher" routerLinkActive="active">Bücher</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="ausleihe" routerLinkActive="active">Ausleihen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="freunde" routerLinkActive="active">Freunde</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="user/2/anzeigen" routerLinkActive="active">Profil</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" type="button" routerLinkActive="active">Abmelden</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </main>

    <footer>
        <nav class="navbar fixed-bottom bg-body-tertiary">
            <div class="container-fluid">
                <span>@{{currentYear}} InstaShare</span>
            </div>
        </nav>
    </footer>
</body>
</html>

