<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Freundschaftsanfrage</title>
  <link rel="stylesheet" href="friend-create.component.scss">
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="titel">Freundschaftsanfrage</div>
    </div>
    <div class="row">
      <div class="column">
        <div class="friends-name">
          <h3>Matthias Batman</h3></div>
      </div>
      <div class="column address">
        <div>Mustergasse 123</div>
        <div>12345 Musterstadt</div>
        <div>matthias.batman@example.com</div>
        <div>0123 4567890</div>
      </div>
    </div>
    <div class="form-actions">
      <button class="cancel-btn" type="button" onclick="cancel()">Ablehnen</button>
      <button class="confirm-btn" type="button">Annehmen</button>
    </div>
  </div>
</body>

</html>