.container {
    background-color: #f2c6db;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
    table-layout: auto;
    border-radius: 15px;
    overflow: hidden;
}

thead th, tbody td {
    padding: 10px;
    word-wrap: break-word;
}

thead th {
    background-color: #d45d79;
    color: white;
}

thead th:first-child {
border-top-left-radius: 15px;
}

thead th:last-child {
    border-top-right-radius: 15px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

tbody tr {
    background-color: #ffffff;
    color: #333;
}

tbody td {
    padding: 10px;
}

tbody td:last-child {
    width: 200px;
}

button {
    background-color: #2a9d8f;
    border: none;
    border-radius: 1vw;
    color: white;
    padding: 1vw 2vw;
    cursor: pointer;
    white-space: nowrap;
    width: 24vw;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .table, thead, tbody, th, td, tr {
        display: block;
        width: 100%;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 10px;
    }

    td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    td:last-child {
        text-align: center;
        padding-left: 10px;
    }
}