<form [formGroup]="friendForm">
  <div class="container">
    <ng-container *ngIf="possibleFriends">
      <h3>Freunde finden</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col1">Vorname</th>
            <th scope="col2">Nachname</th>
            <th scope="col3">Email</th>
            <th scope="col7"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of possibleFriends">
            <td>{{element.firstName}}</td>
            <td>{{element.lastName}}</td>
            <td>{{element.email}}</td>
            <td><button class="btn btn-primary submit" type="submit" (click)="onSubmit(element.id)">Freundschaftsanfrage versenden</button></td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</form>
