<h2>Ausleihen</h2>
<button type="button" class="btn btn-primary" [routerLink]='["/ausleihe/erstellen"]'>Neu</button>

<div class="container">
  <ng-template #loader>
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </ng-template>
</div>

<ng-container *ngIf="lends; else loader">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ausleihdatum</th>
        <th scope="col">Rückgabedatum</th>
        <th scope="col">Ausleiher</th>
        <th scope="col">Buch</th>
        <th scope="col">Notiz</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of lends">
        <td>{{element.id}}</td>
        <td>{{element.lendFrom | date: "dd.MM.yyyy"}}</td>
        <td>{{element.lendTo | date: "dd.MM.yyyy"}}</td>
        <td>{{element.borrower?.firstName}} {{element.borrower?.lastName}}</td>
        <td>{{element.book?.title}}</td>
        <td>{{element.note}}</td>
        <td><button class="btn btn-primary" [routerLink]="[element.id + '/bearbeiten']">Bearbeiten</button></td>
        <td><button type="button" class="btn btn-warning" (click)="btnDeleteClicked(element)">Löschen</button></td>
      </tr>
    </tbody>
  </table>
</ng-container>

<main class="main-content">
  <h2>Ausleihen</h2>
  <div class="button-container">
    <button type="button" class="btn btn-primary" [routerLink]="['/ausleihe/erstellen']">Neu</button>
</div>

<div class="content-container">
  <div class="section">
    <div class="section-title">Meine verliehenen Bücher</div>
    <div class="section-sub">
      <div class="book-card">
          <div>Titel</div>
          <!--<img src="https://via.placeholder.com/197x251" alt="Buchcover">-->
      </div>
      <div class="book-card">
          <div>Titel</div>
          <!--<img src="https://via.placeholder.com/197x251" alt="Buchcover">-->
      </div>
    </div>
  </div>

  <div class="image-container">
    <img src="assets/ausleihen_freunde.png" alt="Willkommen" class="welcome-image">
  </div>

  <div class="section-2">
      <div class="section-title">Von mir ausgeliehen</div>
      <div class="section-2-sub">
      <div class="book-card-2">
          <div>Titel</div>
          <!--<img src="https://via.placeholder.com/197x251" alt="Buchcover">-->
      </div>
      <div class="book-card-2">
          <div>Titel</div>
          <!--<img src="https://via.placeholder.com/197x251" alt="Buchcover">-->
      </div>
    </div>
  </div>

  <div class="requests-container">
      <div class="sub-section">
          <div class="lend-requests">Ausleihanfragen</div>
          <div class="sub-section-title">Meine Anfragen</div>
          <div class="book-card-3">
              <div>Titel</div>
              <!--<img src="https://via.placeholder.com/197x251" alt="Buchcover">-->
          </div>
      </div>
      <div class="sub-section">
          <div class="sub-section-title">Anfragen von Freunden</div>
          <div class="book-card-3">
              <div>Titel</div>
              <!--<img src="https://via.placeholder.com/197x251" alt="Buchcover">-->
          </div>
      </div>
  </div>
</div>
</main>