<main class="main-content">
  <h2>Ausleihen</h2>

  <div class="content-container">
    <div class="section">
      <div class="section-title">Meine verliehenen Bücher</div>
      <div class="section-sub">
        <div class="book-card" *ngFor="let element of lendsFromUserAccepted">
          <div>{{element.book?.title}}</div>
          <div>Ausgeliehen von: {{element.borrower?.firstName}} {{element.borrower?.lastName}}</div>
        </div>
      </div>
    </div>

    <div class="image-container">
      <img src="assets/freunde.png" alt="Willkommen" class="welcome-image">
    </div>

    <div class="section-2">
      <div class="section-title">Von mir ausgeliehen</div>
      <div class="section-2-sub">
        <div class="book-card" *ngFor="let element of lendsOfUserAccepted">
          <div>{{element.book?.title}}</div>
          <div>Ausgeliehen an: {{element.borrower?.firstName}} {{element.borrower?.lastName}}</div>
        </div>
      </div>
    </div>

    <div class="requests-container">
      <div class="section-title">Ausleihanfragen</div>
      <div class="sub-section">
        <div class="sub-section-title">Meine Anfragen</div>
        <div class="sub-section-content">
          <div class="book-card" *ngFor="let element of lendsOfUserOpen">
            <div>{{element.book?.title}}</div>
          </div>
      </div>
      </div>
      <div class="sub-section">
        <div class="sub-section-title">Anfragen von Freunden</div>
        <div class="sub-section-content">
          <div class="book-card" *ngFor="let element of lendsFromUserOpen">
            <div>{{element.book?.title}}</div>
            <div>Anfrage von: {{element.borrower?.firstName}} {{element.borrower?.lastName}}</div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</main>
