<!--Falls Nutzer nicht eingeloggt-->
<h1>Willkommen bei InstaShare</h1>
<p>Entdecke die Zukunft des privaten Medienaustauschs mit InstaShare! Unsere innovative Plattform ermöglicht es Dir,
    Bücher mit Freunden und Familie zu teilen, ohne dabei die Kontrolle über Deine Bücher zu verlieren. Einfach, sicher
    und unter Deiner eigenen Verwaltung.
</p>

<h2>Unsere Vision</h2>
<p>Wir bei InstaShare glauben an eine Welt des gemeinsamen Genießens von Medien, ohne dabei die persönlichen Vorlieben
    und Privatsphäre zu vernachlässigen. Mit InstaShare kannst Du nicht nur Inhalte teilen, sondern auch die Kontrolle
    über Deine Bibliothek behalten.
</p>

<h2>Warum InstaShare?</h2>
<ul>
    <li>Intuitive Benutzeroberfläche für mühelosen Bücheraustausch</li>
    <li>Suchfunktion für schnelles Finden Deines Lieblingsbuches</li>
    <li>Einfache Ausleih- und Rückgabefunktionen für eine klare Verwaltung</li>
    <li>Sichere Datenübertragung und Datenschutz stehen bei uns an erster Stelle!</li>
</ul>
<p>Entdecke jetzt die Zukunft des Bücheraustauschs mit InstaShare!</p>